* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
}

/* PHONE VIEW */
@media only screen and (max-width: 768px) {
    .navOption {
        width: 100%;
    }

    .navOption {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .optionText {
        font-size: x-large;
    }

    .navOptionLayout {
        display: flex;
        display: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .navOption:hover {
        background-color: rgb(231, 47, 160);
    }


    #buttonContainer {
        display: flex;
        flex-direction: column;
    }

    .navTop {
        border-top: 2px  solid black;
        border-bottom: 0px  solid black;
    }
    
    .navBottom {
        border-top: 2px  solid black;
        border-bottom: 2px  solid black;
    }

    .navMiddle {
        border-top: 2px  solid black;
        border-bottom: 0px  solid black;
    }
}

/* BROWSER VIEW */
@media screen and (min-width: 768px) {
    #buttonContainer {
        display: flex;
        flex-direction: column;
    }

    .navOption {
        display: flex;
        padding-left: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .navOptionLayout {
        display: flex;
        display: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 4rem;
    }

    .navOption:hover {
        background-color: rgb(231, 47, 160);
    }

    .navTop {
        border-top: 2px  solid black;
        border-bottom: 0px  solid black;
    }
    
    .navBottom {
        border-top: 2px  solid black;
        border-bottom: 2px  solid black;
    }

    .navMiddle {
        border-top: 2px  solid black;
        border-bottom: 0px  solid black;
    }
}