#popp {
    font-weight: bold;
}

#navbar {
    height: 5rem;
    background-color: rgb(231, 47, 160);
}

@media only screen and (max-width: 768px) {
    #navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    #title {
        font-size: 3.5rem;
    }
  }

  @media screen and (min-width: 768px) {
    #title {
        font-size: 3rem;
    }

    #navbar {
        padding-left: 5rem;
        padding-top: 1rem;
    }

    #navOption {
        width: 100%;
        background-color: beige;
    }

  }


